<form name="sign-up">
    <div>
        <label>
            Login:<br />
            <input type="text" name="login" />
        </label>
    </div>

    <div>
        <label>
            Password:<br />
            <input type="password" name="password" />
        </label>
    </div>

    <div>
        <button type="submit">Sign up</button>
        <a href="/sign/in">Sign in</a>
    </div>
</form>