* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 100%;
    background: $bg_body;
    font-family: Roboto-Light, 'Segoe UI', Arial, serif;
}

a, a:link, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}