* {
    box-sizing: border-box;
    position: relative;
}

body {
    background: $bg_body;
    font-family: Roboto-Light, 'Segoe UI', Arial, serif;
    margin: auto;
    width: 100%;
}

a, a:link, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}