@import "variables";

// Clearfix
%clearfix {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// Background image
@mixin bg-image($path, $position: 0 0, $repeat: no-repeat) {
    background: {
        image: url($images_dir + $path);
        position: $position;
        repeat: $repeat;
    }
}

// Transition
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    filter: alpha(opacity=($opacity * 100));
}

// Breakpoints
@mixin bp-large {
    @media only screen and (max-width: $bp_large_width) {
        @content;
    }
}

@mixin bp-medium {
    @media only screen and (max-width: $bp_medium_width) {
        @content;
    }
}

@mixin bp-small {
    @media only screen and (max-width: $bp_small_width) {
        @content;
    }
}