$images_dir: '../images/';

// Breakpoints
$bp_large_width: 1200px;
$bp_medium_width: 800px;
$bp_small_width: 500px;

// Constraint sizes
$wrapper_width: 1460px;
$wrapper_min_width: 800px;
$header_height: 70px;

// Margins
$base_margin: 20px;

// Colors
$color_white: #fff;
$color_grey_light: #fafafa;
$color_grey_middle: #ccc;
$color_grey: #aaa;

// Background colors
$bg_body: #fafafa;
$bg_header: #333;
$bg_white: $color_white;