#main {
    > .wrapper {
        > .content {
            min-height: 200px;
            border: 1px solid $grey_ea;
            background: $bg_white;
        }
    }
}

@include media-lg {
    #main {
        > .wrapper {
            > .content {
                border-width: 0 0 1px 0;
            }
        }
    }
}