.nav {
    @extend %clearfix;

    margin: 0;
    list-style: none;

    li {
        float: left;

        a {
            display: block;
            padding: 0 20px;
            height: $header_height;
            color: $color_grey_middle;
            text-decoration: none;
            line-height: $header_height;

            &:hover {
                color: $color_white;
            }
        }
    }
}