<form name="sign-in">
    <div>
        <label>
            Login:<br />
            <input type="text" name="login" />
        </label>
    </div>

    <div>
        <label>
            Password:<br />
            <input type="password" name="password" />
        </label>
    </div>

    <div>
        <button type="submit">Sign in</button>
        <a href="/sign/up">Sign up</a>
    </div>
</form>